<!DOCTYPE html>
<html>
  <head>
    <title>gauchotrader</title>
    <%= favicon_link_tag 'hatlogo.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.amber-orange.min.css" />
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <%= image_tag "hatlogo.png", width: '32' %>
          <span class="mdl-layout-title layout-title-padding">gauchotrader.</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content spaced-header">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
